@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
    font-family: "Outfit", sans-serif;
}

::-webkit-scrollbar{
  display: none;
}


@theme{
  --color-primary: #5044E5;
}

.rich-text { font-size: 15px;  }

.rich-text p { margin-bottom: 16px; color: #292929; }

.rich-text h1 { font-size: 36px; font-weight: 700; color: #252525 !important; margin: 32px 0; }

.rich-text h2 { font-size: 22px; font-weight: 700; color: #252525 !important; margin: 24px 0; }

.rich-text h3 { font-size: 18px; font-weight: 600; color: #333333 !important; margin: 20px 0; }

.rich-text h4 { font-size: 16px; font-weight: 500; color: #444444 !important; margin: 16px 0; }

.rich-text h5 { font-size: 14px; font-weight: 400; color: #555555 !important; margin: 12px 0; }

.rich-text h6 { font-size: 12px; font-weight: 400; color: #666666 !important; margin: 8px 0; }

.rich-text strong { font-weight: 700; }

.rich-text ol { margin-left: 30px; list-style-type: decimal; }

.rich-text ul { margin-left: 30px; list-style-type: disc; }

.rich-text li { margin-bottom: 8px; }

.rich-text a { color: #007AFF }



@keyframes pulseSlow {
                        0%, 100% { opacity: 0.7; transform: scale(1);}
                        50% { opacity: 1; transform: scale(1.1);}
                    }
                    @keyframes pulseSlower {
                        0%, 100% { opacity: 0.5; transform: scale(1);}
                        50% { opacity: 0.8; transform: scale(1.15);}
                    }
                    @keyframes pulseFast {
                        0%, 100% { opacity: 0.6; transform: scale(1);}
                        50% { opacity: 0.9; transform: scale(1.07);}
                    }
                    .animate-pulse-slow {
                        animation: pulseSlow 5s ease-in-out infinite;
                    }
                    .animate-pulse-slower {
                        animation: pulseSlower 8s ease-in-out infinite;
                    }
                    .animate-pulse-fast {
                        animation: pulseFast 3s ease-in-out infinite;
                    }
                